/* ogolny CSS */
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Abhaya Libre, Helvetica, sans-serif;    
    background-color: #EDE9ED;
}
/* top nawigacja */
.top-nav{
    background-color: #EDE9E5;
    overflow: hidden;
    opacity: 0.7;
    height: 100px;
    width: 100% ;
    display: flex;
    position: fixed;
    z-index: 1;
    white-space: nowrap;
}
/* te szare ze zdjeciem i napisami */
.photo-container {
    width: 100%;
    background-color: #BDBFC1;
    z-index: -1;
}
img.header-photo {
    float: right;
}
.postcard {
    white-space: nowrap;
    font-family: Abril Fatface, cursive;
    text-align: center;
}
.postcard div {
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}
/* o nas */
.about-us {  
    width: 100%;
}
.text-box {
    font-family: 'Titillium Web', Abhaya Libre, Helvetica, sans-serif;
}
.left-photo img {
    width: auto;
    overflow: hidden;
    box-shadow: 0px 30px 60px -30px rgb(0 0 0);
}
/* cennik */
.text-box.left{
    margin-top: 0px;
} 
.text-box.right{
    margin-top: 0px;
} 
.postcard.cennik{
    padding-bottom: 50px;
}
.text-con{
    padding: 0px, 100px;
    text-align: center;
}
.text-h3{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
}

/* kontakt */

.map {
    height: fit-content;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
}

.map div{
    display: block;
}

/* footer */

.footer{
    width: 100%;
    height: 10rem;
    background-color: #BDBFC1;
    text-align: center;
}

.footer a{
    text-decoration: none;
    color: #000000;
    font-family: 'Titillium Web', Abhaya Libre, Helvetica, sans-serif;
    font-size: 2rem;
}

/* waskie telefony */
@media only screen and (max-width: 300px){
    #menu{
        margin-left: 15% !important;
    }
    .postcard{
        font-size: 3rem !important;
    }
    .postcard div{
        font-size: 2rem !important;
    }
    .photo-container {
        height: 30rem;
    }
    img.header-photo {
        height: 30rem;
    }
}

/* dla telefonow */
@media only screen and (min-width: 200px) and (max-width: 499px){




/* top nawigacja */
.top-nav {
 
    justify-content: left;
    font-size: 5rem;
}

.top-nav a{
    display: none;
}

.top-nav h1.tytul {
    display: none;
}

.logo{
    width: 100%;
    display: inline-block;

}

.logo img{
    height: 6rem;
    padding-left: 20px;
    opacity: 1;
}

.material-symbols-outlined {
    font-size: 60px;
    transform: translate(0px,-17px);
}
#menu{
    margin-left: 25%;
    border: none;
    background-color: #EDE9E5;
    opacity: 0.7;
}



/* te szare ze zdjeciem i napisami */
.photo-container {
    height: 35rem;
}

img.header-photo {
    height: 35rem;
}

.postcard {
    padding-top: 6rem;
    padding-inline: 1rem;
    font-size: 3.5rem;
}

.postcard div {
    font-size: 2.5rem;
}

/* o nas */
.photo-text-con{
    display: block;
    padding: 2rem;
}

.text-box {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
}

.left-photo {
    display: flex;
    justify-content: center;
}
.left-photo img {
    height: 25rem;  
}

/* cennik */

.cennik{
margin-top: 1rem;
}
.postcard.cennik{
    padding-top: 20px;
}

.text-con{
display:block;
}

.text-h3{
   font-size: 4.5rem;
}

.text-con li{    
    list-style-type: none;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
 }

 .text-con li{    
    text-align: center;
    margin-bottom: 2rem;
 }

 .text-con li div{    
    text-align: left;
    padding-left: 25%;
    font-weight: bolder;
 }

/* galeria */
/* kontakt */
/* footer */
#pinezka{
    transform: translateY(20px);
}
#telefon{
    transform: translateY(15px);
}
}




@media only screen and (min-width: 500px) and (max-width: 1199px){

    /* top nawigacja */
    .top-nav {
        height: 80px;
        justify-content: left;
        font-size: 5rem;
    }
    
    .top-nav a{
        display: none;
    }
    
    .top-nav h1.tytul {
    font-family: Abhaya Libre, Helvetica, sans-serif;
    margin: 0px 40px;
    font-size: 4rem;
    font-weight: normal;

    }
    
    .logo{
        width: 100%;
        display: inline-block;
    
    }
    
    .logo img{
       display: none;
    }
    
    .material-symbols-outlined {
        font-size: 60px;
    }
    #menu{
        margin-left: 25%;
        border: none;
        background-color: #EDE9E5;
        opacity: 0.7;
    }
    /* te szare ze zdjeciem i napisami */
    .photo-container {
        height: 35rem;
    }
    
    img.header-photo {
        height: 35rem;
    }
    
    .postcard {
        font-size: 4rem;
        padding-top: 6rem;
        padding-inline: 1rem; 
    }
    
    .postcard div {
        font-size: 2.5rem;
    }
    
    /* o nas */
       
    .photo-text-con{
        display: block;
        padding: 2rem;  
        width: 90%;
    }
    
    .text-box {
        width: 100%;
        text-align: left;
        font-size: 1.5rem;
        text-align: center;
    }
    
    .left-photo {
        display: flex;
        justify-content: center;
    }
    .left-photo img {
        height: 25rem;  
    }
    
    /* cennik */
    
    .cennik{
    margin-top: 1rem;
    }
    .postcard.cennik{
        padding-top: 20px;
    }
    
    .text-box.left{
        margin-top: 0px;
    } 
    
    .text-con{
    display:block;
    }
    
    .text-h3{
        font-size: 4.5rem;
    }
    
    .text-con li{    
        text-align: left;
        margin-bottom: 2rem;
        list-style-type: none;
        padding-left: 20%;
        padding-right: 2.5rem;
        font-size: larger;
     }
    
     .text-con li div{    
        text-align: left;
        padding-left: 25%;
        font-weight: bolder;

     }
    
    /* galeria */
    /* kontakt */
    /* footer */
    #pinezka{
        transform: translateY(15px);
    }
    #telefon{
        transform: translateY(15px);
    }
}
@media only screen and (min-width: 750px) and (max-width: 1199px){

    div.logo{
        margin-left: 10%;
    }

    .photo-text-con{
        display: block;
        padding: 2rem;  
        width: 85%;
    }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px){

    div.logo{
        margin-left: 22%;
    }
}

/* @media only screen and (min-width: 900px) and (max-width: 1199px){

div.logo{
    margin-left: 30%;
}
}
@media only screen and (min-width: 600px) and (max-width: 900x){

    div.logo{
        margin-left: 100px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 500x){

    .top-nav {
 
        justify-content: left;
        font-size: 5rem;
    }
    
    .top-nav a{
        display: none;
    }
    
    .top-nav h1.tytul {
        display: none;
    }
    
    .logo{
        width: 100%;
        display: inline-block;
    
    }
    
    .logo img{
        height: 6rem;
        padding-left: 20px;
        opacity: 1;
    }
    
    .material-symbols-outlined {
        font-size: 60px;
        transform: translate(0px,-17px);
    }
    #menu{
        margin-left: 25%;
        border: none;
        background-color: #EDE9E5;
        opacity: 0.7;
    }
} */






/* dla pc */

@media only screen and (min-width: 1200px){




/* top nawigacja */
.top-nav {
    justify-content: center;
}

.top-nav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 2rem;
    margin: 0px 2%;

}

.top-nav a:hover {
    color: coral;
}

.top-nav h1.tytul {
    font-family: Abhaya Libre, Helvetica, sans-serif;
    margin: 0px 40px;
    font-size: 4rem;
    font-weight: normal;
}

.top-nav .logo{
display: none;
}

/* te szare ze zdjeciem i napisami */
.photo-container {
    height: 45rem;
}

img.header-photo {
    height: 45rem;
}

.postcard {
    padding: 100px 200px;
    font-size: 8rem;
}

.postcard div {
    font-size: 4rem;
}
.postcard div br{
    display: none;
}
/* o nas */

.postcard div br{
    display: none;
}


.photo-text-con{
    display: flex;
}

.text-box {
    text-align: left;
    width: 90%;
    margin: 5rem;
    font-size: 3rem;
}

.left-photo img {
    float: left;
    height: 40rem;
    margin-left: 16%;
    transition: transform .5s;
}

.left-photo img:hover{
    transform: scale(1.1);
    z-index: -1;
}

/* cennik */

.cennik{
margin-top: 10rem;
}


.postcard.cennik div br{
    display: none;
}

.text-con{
display:flex;
}

.text-h3{
    font-size: 7rem;
}
/* galeria */
/* kontakt */
/* footer */



}